*{padding: 0; margin: 0}
a{text-decoration: none; color: #000;}
li{list-style: none;}
body {
  font-family: '나눔고딕', sans-serif;
}
div{box-sizing: border-box;}
header{
  background-color: #F6F5EF;
  position: fixed;
  width: 100%;
  height: 120px;
  top:0;
  z-index: 1000000;
}
/********헤더시작********/
#header_wrapper{
  width: 1200px;
  height: 120px;
  margin: auto;
}
/*logo*/
.logo{
  position: absolute;
  top:22px;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.logo>a{
  display: inline-block;
  width: 75px;
  height: 75px;
}

/*topNav*/
.wrap_topNav{
  display: inline-block;
  float: right;
  margin-right: 100px;
}
.wrap_topNav .topNav ul{
  margin-top: 8px;
}
.wrap_topNav .topNav ul li{
  display: inline-block;
  margin: 10px 0px;
}
.wrap_topNav .topNav ul li a{
  font-size: 13px;
  padding: 0 17px 0 10px;
  border-right: 1px solid #dadada;
  color: #555;
  display: inline-block;
  height: 12px;
}
.wrap_topNav .topNav ul li a:hover{
  font-size: 13px;
  color: #555;
  text-decoration: underline;
}
.wrap_topNav .topNav ul li::after{
  content: "";
  width: 1px;
  height: inherit;
  color:#ccc;
}
.wrap_topNav .topNav ul + span{
  display: inline-block;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 9px;
}
.wrap_topNav .topNav ul + span>a{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  height: 34px;
  width: 34px;
  position: absolute;
  right:0;
  top:0;

}
  .wrap_topNav .topNav ul + span>a>img{
    display: inline-block;
    vertical-align: middle;
  }

/*mainNav*/
.wrap_mainNav{
  float: right;
}
.wrap_mainNav>ul{
padding-top: 5px;
}
.wrap_mainNav>ul>li{
  display: inline-block;
  margin: 15px 0;
}
.wrap_mainNav>ul>li>a{
  font-size: 13px;
  color: #333;
  padding: 15px 15px 30px 15px;
  display: inline-block;
}
.wrap_mainNav>ul>li:hover>a{
  font-size: 13px;
  background-color: #2c2a29;
  color: #669900;
}

/*subNav01*/
.wrap_subNav{
  background-color: #2C2A29;
  position: absolute;
  width: 100%;
  top:120px;
  left: 0;
}

.subNav01{
  overflow: hidden;
  width: 1200px;
  height: auto;
  margin: auto;
}
.subNav01::after{
  clear: both;
}
.subNav01>ul{
  display: block;
  width: 220px;
  height: auto;
  padding: 10px;
  float: left;
}

.subNav01>ul>li:first-child{
  padding: 15px 0;
}
.subNav01>ul>li:first-child a{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.subNav01>ul>li{
  padding: 3px 0 3px 0;
}
.subNav01>ul>li>a{
  color: #999;
  font-size: 12px;
}
.subNav01>ul>li>a:hover{
  text-decoration: underline;
}
.subNav01 .clear{
  clear: both;
  margin-bottom: 10px;
}

/*subNav02*/
.subNav02{
  background: url(../images/img/common/gnb_sub_txbg.jpg);
  width: 100%;
  overflow: hidden;
}
.width_subNav02{
  width: 1200px;
  margin: auto;
}

.subNav02 p a{
  font-size: 12px;
  color: #64a70b;
  display: inline-block;
  margin-top: 5px;
}
.subNav02_txt01, .subNav02_txt02{
  display: inline-block;
  margin-bottom: 22px;
}
.subNav02_txt01{
  float: left;
  padding-top: 25px;
}
.subNav02_txt01 h3:nth-child(3),
.subNav02_txt02 p{
  margin-top: 8px;
}
.subNav02_txt01 h3 a{
  font-size: 12px;
  color: #999;
  font-weight: bold;
}
.subNav02_txt01 h3 a img{
  vertical-align: text-bottom;
}
.subNav02_txt02{
  float: right;
  width:465px;
  padding-top: 25px;
}
.subNav02_txt02 h3 a{
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.subNav02_txt02 span{
  display: inline-block;
  float:left;
  height: 90px;
  width: 158px;
  margin-right:15px;
}
.subNav02_txt02 span a img{
  width: 100%;
}
/********헤더 끝********/


/********컨텐츠 시작********/
#contents{
  margin-top: 120px;
}
/********컨텐츠 끝********/


/********푸터 시작********/
#footer_wrapper{
  background-color: #2C2A29;
  height: 550px;
}
.footer_width{
  width: 1200px;
  margin: auto;
}
/*footer_list*/
.footer_list{
  background: url(../images/img/footer/footer_logo.png) no-repeat;
  background-position: 97% 37%;
  overflow: hidden;
  width: 100%;
  padding-left: 50px;
}
.footer_list ul{
  float:left;
  width:220px;
  margin: 45px 0px 48px 5px;
}
.footer_list ul li a{
font-size:11px;
display: inline-block;
margin: 4px 0;
}
.footer_list ul li a:hover{
  text-decoration: underline;
}
.footer_list ul li:first-child a{
  display: inline-block;
  margin-bottom: 10px;
  font-size:14px;
}
/*footer_banner*/
.footer_banner{
  clear:both;
  width: auto;
  height: 80px;
  background-color: #282828;
}
#footer_wrapper .footer_banner span a{
  display: inline-block;
  line-height: 85px;
}
.footer_banner span:first-child a{
  padding-left: 43px;
}
/*footer_info*/
.footer_info{
  text-align: center;
}
.footer_info ul li{
  display: inline-block;
  font-size: 12px;
  color: #999;
  padding: 6px;
}
.footer_info span{
  color: #999;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
}
/*copyright*/
.copyright a{
  font-size: 11.5px;
  display: inline-block;
  margin-top: 34px;
  border-right: 1px solid #fff;
  height: 12px;
  padding: 0 10px;
  line-height: 12px
}
.copyright a:first-child{
  color: #00b050;
  font-weight: bold;
}
.copyright a:last-child{
  border: 0px;
}
.copyright a:hover{
  text-decoration: underline;
}
.copyright_box a{
  display: inline-block;
  width: 107px;
  height: 30px;
  border: 2px solid #fff;
  font-size: 12px;
  line-height: 30px;
  margin: 12px 1px;
  border-radius: 2px
}
.copyright_box a:hover{
  text-decoration: underline;
}
footer a{
  color: #fff;
}
/********푸터 끝********/
