*{padding: 0; margin: 0}
a{text-decoration: none; color: #000;}
li{list-style: none;}
body {
  font-family: '나눔고딕', sans-serif;
}
div{box-sizing: border-box;}
header{
  background-color: #F6F5EF;

}
#header_background{}
#header_wrapper{
  width: 1200px;
  height: 120px;
  margin: auto;
}

.logo{
  position: absolute;
  top:22px;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.logo>a{
  display: inline-block;
  width: 75px;
  height: 75px;
}
.logo>a>span>img{}

.wrap_topNav{
  border: 1px solid red;
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.wrap_topNav .topNav{}
.wrap_topNav .topNav ul{
  margin-top: 8px;
}
.wrap_topNav .topNav ul li{
  display: inline-block;
  margin: 10px 15px;
}
.wrap_topNav .topNav ul li a{
  font-size: 13px;
  color: #555;
}
.wrap_topNav .topNav ul li::after{
  content: "";
  width: 1px;
  height: inherit;
  color:#ccc;
}
.wrap_topNav .topNav ul + span{
  display: inline-block;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 9px;
    right: 325px;
}
.wrap_topNav .topNav ul + span>a{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  height: 34px;
  width: 34px;
  position: absolute;
  right:0;
  top:0;

}
  .wrap_topNav .topNav ul + span>a>img{
    display: inline-block;
    vertical-align: middle;
  }


.wrap_mainNav{
  border: 1px solid red;
  float: right;
}
.wrap_mainNav>ul{
      margin: 25px;
}
.wrap_mainNav>ul>li{
  display: inline-block;
  margin: 0 15px;
}
.wrap_mainNav>ul>li>a{
  font-size: 13px;
  color: #333;
}
.wrap_mainNav>ul>li>a:hover{
  font-size: 13px;
  color: #669900;
  background-color: #2c2a29;
}
/*.wrap_mainNav>ul>li:hover .wrap_subNav{
  display: block;
  opacity: 1;
}*/

.wrap_subNav{
  background-color: #2C2A29;
  position: absolute;
  width: 100%;
  top:120px;
  left: 0;
}

.subNav01{
  overflow: hidden;
  width: 1200px;
  height: auto;
  margin: auto;
}
.subNav01::after{
  clear: both;
}
.subNav01>ul{
  /*display: inline-block;*/
  display: block;
  width: 220px;
  height: auto;
  padding: 10px;
  float: left;
}

.subNav01>ul>li:first-child{
  padding: 15px 0;
}
.subNav01>ul>li:first-child a{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.subNav01>ul>li{
  padding: 3px 0 3px 0;
}
.subNav01>ul>li>a{
  color: #999;
  font-size: 12px;
}
.subNav01>ul>li>a:hover{
  text-decoration: underline;
}
.subNav01 .clear{
  clear: both;
  margin-bottom: 10px;
}
.subNav02{
  background-color: rgb(204, 227, 155);
  width: 100%;
}
.width_subNav02{
  width: 1200px;
  margin: auto;
}
.width_subNav02 p{
  padding: 3px;
}
