*{padding: 0; margin: 0}
a{text-decoration: none; color: #000;}
li{list-style: none;}
body {
  font-family: '나눔고딕', sans-serif;
}
div{box-sizing: border-box;}

#header_wrapper{
  width: 1200px;
  height: 120px;
  margin: auto;
  background-color: rgb(233, 145, 179);
  position: relative;
}

.logo{
  position: absolute;
  top:22px;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.logo>a{
  display: inline-block;
  width: 75px;
  height: 75px;
}
.logo>a>span>img{}

.wrap_topNav{
  border: 1px solid red;
  display: inline-block;
  float: right;
  margin-right: 100px;


  /*position: absolute;
  height: 20px;
  width: 464px;
  right:93px;
  top:15px;*/

}
.wrap_topNav .topNav{}
.wrap_topNav .topNav ul{
  margin-top: 8px;
}
.wrap_topNav .topNav ul li{
  display: inline-block;
  margin: 10px 15px;
}
.wrap_topNav .topNav ul li::after{
  content: "";
  width: 1px;
  height: inherit;
  color:#ccc;
}
.wrap_topNav .topNav ul + span{
  display: inline-block;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 9px;
    right: 54px;
}
.wrap_topNav .topNav ul + span>a{
  display: inline-block;
  margin: 0 auto;
  line-height: 30px;
  vertical-align: middle;
  height: 34px;
  width: 34px;
/*
  position: absolute;
  right:0;
  top:0;
*/
}
  .wrap_topNav .topNav ul + span>a>img{
    display: inline-block;
    vertical-align: middle;
  }


.wrap_mainNav{
  border: 1px solid red;
  float: right;
}
.wrap_mainNav>ul{
      margin: 25px;
}
.wrap_mainNav>ul>li{
  display: inline-block;
  margin: 0 15px;
}
