@charset "utf-8";
/*  e_frequency fixed content */

.all_wrap {
  width: 100%;
  height: 100%;
}

.e_frequency {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20%;
  display: none;
}

.e_frequency img {
  width: 180px;
}

/*section 1*/

.section_1 {
  margin: auto;
  width: 100%;
  height: 646px;
  background: url(../images/img/main/17winter1/bev_bg.jpg) no-repeat;
  background-position: center;
}

.main_wrap {
  position: relative;
  margin: auto;
  width: 1280px;
  height: inherit;
  /*background: #000;*/
  background:
}

.main_left {
  float: left;
  width: 25%;
  height: inherit;
  /*background: red;*/
}

.main_left a {
  margin: auto;
  margin-top: 150px;
  display: block;
  width: 300px;
  height: 36px;
  padding-top: 260px;
  background: url(../images/img/main/17winter1/17_emblem.png) no-repeat;
  background-position: center;
  color: #d40f1a;
}

.main_left a span {
  margin: auto;
  margin-top: 40px;
  display: block;
  width: 120px;
  line-height: 36px;
  text-align: center;
  height: 36px;
  border: 2px solid #d40f1a;
  border-radius: 3px;
  transition: 0.3s;
}

.main_left a span:hover {
  background-color: #d40f1a;
  color: #fff;
}

.main_right {
  position: relative;
  float: right;
  width: 75%;
  height: inherit;
}

.product1 {
  position: absolute;
  top: -20px;
  left: 40px;
  width: 400px;
  height: 400px;
}

.product1>a>img {
  position: absolute;
  display: block;
  z-index: 1000;
}

.product1 .season_tag1 {
  position: absolute;
  top: 54px;
  left: 213px;
  z-index: 1;
}

.product2 {
  position: absolute;
  top: 230px;
  right: 10px;
  width: 400px;
}

.product2>a>img {
  position: absolute;
  display: block;
  z-index: 1000;
}

.product2 .season_tag2 {
  position: absolute;
  top: 208px;
  left: 2px;
  z-index: 1;
}

.product3 {
  position: absolute;
  top: 336px;
  left: 134px;
  width: 400px;
}

.product3>a>img {
  position: absolute;
  display: block;
  z-index: 1000;
}

.product3 .season_tag3 {
  position: absolute;
  top: -33px;
  left: 121px;
  z-index: 1;
}

.product3::after {
  display: block;
  content: "";
  clear: both;
}

/*section 2*/

.section_2 {
  position: relative;
  width: 100%;
  height: 62px;
}

/*left*/

.left_notice {
  position: relative;
  width: 56%;
  height: 62px;
  background: #000;
}

.left_notice dl {
  position: absolute;
  left: 48%;
  top: 28%;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
}

.left_notice ul li a span {
  color: #fff;
}

.left_notice ul li a span:hover {
  text-decoration: underline;
}

img.notice_img {
  position: absolute;
  left: 39%;
  top: 33%;
}

.notice_plus {
  position: absolute;
  right: 2%;
  top: 21%;
}

.notice_plus img {
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
}

/*right*/

.right_notice {
  position: absolute;
  left: 56%;
  top: 0%;
  width: 44%;
  height: 62px;
  background-color: #f6f5ef;
}

.right_notice .promotion_txt {
  top: 33%;
  left: 17%;
  width: 127px;
  height: 19px;
  position: absolute;
}

.notice {
  position: absolute;
  display: block;
  right: 48%;
  top: 21%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  background: url(../images/img/common/btn_prom_down.png) no-repeat;
}

.active {
  background: url(../images/img/common/btn_prom_up.png) no-repeat;
}

/* hidden slide */

.promotion_slide {
  width: 100%;
  height: 658px;
  background-color: #f6f5ef;
  display: none;
}

.promotion_view {
  position: relative;
  top: 9%;
  width: 100%;
  height: 600px;
  background-color: red;
  odverflow: hidden;
}

.promotion_view .promotion_container {
  position: absolute;
  width: 4996px;
  height: 553px;
  background: blue;
}

.promotion_view .promotion_container ul li {
  display: block;
  float: left;
  width: 819px;
  margin-left: 10px;
}

.promotion_view .promotion_container ul li a img {
  display: block;
  float: left;
  margin-left: 10px;
}

/*section 3*/

.section_3 {
  width: 100%;
  height: 241px
}

.reward_wrap {
  position: relative;
  width: 100%;
  height: inherit;
}

/* left */

.reward_left {
  position: absolute;
  width: 50%;
  height: 241px;
  background-color: #272727;
}

/* center */

.reward_center {
  position: relative;
  margin: auto;
  width: 1280px;
  height: 241px;
  z-index: 1000;
}

.reward_img_wrap {
  position: absolute;
  height: 241px;
  width: 260px;
  left: 0%;
  top: 0%;
  background: url(../images/img/main/reward_star_bg_m.png) no-repeat center;
  background-position: top left 15px;
  z-index: 2;
  padding-right: 200px;
}

.reward_img_wrap .reward_bg {
  position: absolute;
  top: 100px;
  height: 241px;
  z-index: 100;
}

.reward_img_wrap .logo {
  position: absolute;
  left: 18%;
  top: 45%;
  z-index: 1000;
}

.reward_txt_bg {
  position: absolute;
  left: 12%;
  top: 0%;
  z-index: 1;
}

/* right */

.reward_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 241px;
  background-color: #d6c798;
}

/*.reward_right::after{
  clear:both;
  content: "";
  display:block;
}*/

/*section 4*/

.section_4 {
  position: relative;
  width: 100%;
  height: 517px;
  background: url(../images/img/main/17winter1/winter_coffee_bg.jpg);
  background-size: contain;
}

.chreistmas_wrap {
  height: inherit;
  width: 1280px;
  margin: auto;
}

.christmas_left {
  position: relative;
  height: inherit;
  width: 50%;
  float: left;
}

.christmas_right {
  position: relative;
  height: inherit;
  width: 50%;
  left: 81px;
  top: 28%;
  float: right;
}

.christmas_right::after {
  clear: both;
  content: "";
  display: block;
}

.christmas_left>img {
  position: absolute;
  left: 21%;
  top: 9px;
}

.christmas_right1 img {
  margin-bottom: 10px;
  display: inline-block;
}

.christmas_right3 a span {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  width: 120px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  color: #222;
  border: 2px solid #222;
  border-radius: 3px;
  transition: 0.5s;
}

.christmas_right3 a span:hover {
  background-color: #222;
  color: #fff;
}

/*section 5*/

.section_5 {
  width: 100%;
  height: 358px;
  background: url(../images/img/main/black_reserve_bg2.jpg) no-repeat;
}

.reserved_wrap {
  position: relative;
  margin: auto;
  width: 1280px;
  height: 538px;
  /*background: #000;*/
}

.reserved_center {
  position: absolute;
  top: 23%;
  left: 32%;
  width: 543px;
}

.reserved_center .coffee_logo {
  position: absolute;
  left: -410px;
  top: -38px;
}

.reserved_center>a {
  position: absolute;
  top: -60px;
  left: -150px;
  display: block;
  background: url(../images/img/main/black_reserve_txt2.png) no-repeat;
  height: 100px;
  width: 430px;
  padding-top: 180px;
  color: #fff;
}

.reserved_products {
  position: absolute;
  right: 0px;
  top: -22px;
}

.reserved_center>a>span {
  position: absolute;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #d9aa8a;
  border-radius: 3px;
  color: #d9aa8a;
  transition: 0.3s;
}

.reserved_center>a>span:hover {
  color: #fff;
  background-color: #d9aa8a;
}

/*section 6*/

.section_6 {
  width: 100%;
  height: 755px;
  background: url(../images/img/main/fav_prod_bg_new.jpg) fixed no-repeat top;
}

.favorit_wrap {
  position: relative;
  margin: auto;
  width: 1280px;
  height: 800px;
  /*background: #000;*/
}

.favorit_left {
  position:relative;
  height: inherit;
  text-align: right;
  width: 40%;
  left: 0px;
  box-sizing: border-box;
  padding-top: 100px;
}
.favorit_left a {
 position: absolute;
 width:120px;
 height: 36px;
 display: block;
 margin-top:20px;
 right:0;
}
.favorit_left a span {
  position: absolute;
  display: block;
  width: inherit;
  height: 36px;
  line-height: 36px;
  border: 2px solid #fff;
  border-radius: 3px;
  text-align: center;
  margin-right:10px;
  color: #fff;
}

.favorit_right {
  position:absolute;
  width: 60%;
  height: inherit;
  top: 90px;
  right: -111px;
}

/*section 7*/

.section_7 {
  position: relative;
  width: 100%;
  height: 590px;
  background-color: #00b050;
}

.reserved_store_wrap {
  width: 100%;
  height: 590px;
  background: url(../images/img/main/reserve_bg.jpg) center fixed no-repeat;
  background-size: auto 100%;
}

.reserved_move a:first-child img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reserved_move a:last-child img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*section 8*/

.section_8 {
  position: relative;
  height: 400px;
}

.store_find_wrap>img {
  width: 100%;
  height: 400px;
}

/*.coffee_bg>img{
  position:absolute;
  top:0%;
  left:0%;

}*/

.store_find_left1 {
  position: absolute;
  top: 36%;
  left: 37%;
  z-index: 1000;
}

.store_find_left2 {
  position: absolute;
  top: 0%;
  left: 21%;
  z-index: 1;
}

.store_find_right {
  position: absolute;
  top: 20%;
  right: 21%;
}

.store_find_right ul li a:first-child img {
  margin-bottom: 20px;
}

.store_find_right ul li a span {
  margin-left: 10px;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  text-align: center;
  transition: 0.5s;
}

.store_find_right ul li a span:hover {
  color: #fff;
  background-color: #000;
}

.ilustration_store {
  position: absolute;
  bottom: 0%;
  right: 15%;
}
