a {color: #000;text-decoration: none;}

/*div #제품 인포메이션 wrap*/
#product_info {
  width: 1100px;
  margin: auto;
  padding-bottom: 50px;
}

/*div 미니 네비게이션*/
.pd_info_top {
  width: 100%;
}

.pd_info_top::after {
  content: "";
  display: block;
  clear: both;
}

.pd_info_h2 {
  display: none;
}

.pd_info_top_ul {
  float: right;
  padding-top: 60px;
}

.pd_info_top_ul li {
  font-size: 13px;
  float: left;
  margin-left: 5px;
}

.pd_info_top_ul li img {
  margin-top: -1px;
}

.pd_info_top_ul li a {}

/*div 제품 정보 시작*/

.product_info_content::after {
  content: "";
  display: block;
  clear: both;
}

/*div 제품 이미지*/
.pd_info_images {width: 45%;float: left;}

/*썸네일 메인 이미지 3장*/

.thumnail_img_main {
  width: 100%;
  height: 517px;
  overflow: hidden;
  position: relative;
}

.thumnail_img_main::after {
  content: "";
  display: block;
  clear: both;
}

.thumnail_img_main img {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.thumnail_img_main span {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  width: 60px;
  height: 60px;
}

/*썸네일 작은 이미지 3장*/

.thumnail_img_sub {
  width: 100%;
}

.thumnail_img_sub img {
  width: 25%;
  margin-top: 8px;
  margin-right: 4px;
}

/*div 제품명과 설명*/

.pd_info_txt {
  width: 50%;
  float: right;
}

.pd_name_kor {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-bottom: 8px;
}

.pd_name_eng {
  font-size: 14px;
  color: #666;
  float: left;
}

.my_drink_go {
  display: inline-block;
  float: right;
  width: 125px;
  height: 30px;
  background-color: #006633;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
}

.pd_info_hr {
  margin-top: 35px;
  border: 0;
  height: 2px;
  background: #363636;
}

.pd_taste {
  font-size: 16px;
  margin: 20px 0;
}

/*div 제품영양 정보 - head 영양정보*/

.pd_info_nutrition_head {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.pd_info_nutrition_head::after {
  content: "";
  display: block;
  clear: both;
}

.pd_info_nutrition_head .nutirition_title {
  font-size: 18px;
  font-weight: bold;
  float: left;
}

.pd_info_nutrition_head .nutirition_size {
  font-size: 16px;
  float: right;
}

/*div 제품영양 정보 - body 정보 리스트*/

.pd_info_nutrition_body {
  width: 100%;
}

.pd_info_nutrition_body::after {
  content: "";
  display: block;
  clear: both;
}

.pd_info_nutrition_body ul {
  display: inline-block;
  width: 48%;
}

.pd_info_nutrition_body ul:nth-child(1) {
  float: left;
}

.pd_info_nutrition_body ul:nth-child(2) {
  margin-left: 15px;
  float: right;
}

.pd_info_nutrition_body ul li {
  width: 100%;
  margin: 25px 0;
  font-size: 14px;
}

.pd_info_nutrition_body ul li::after {
  content: "";
  display: block;
  clear: both;
}

.pd_info_nutrition_body ul li dl {
  width: 100%;
}

.pd_info_nutrition_body ul li dl dt {
  display: inline-block;
  width: 85%;
  float: left;
}

.pd_info_nutrition_body ul li dl dd {
  display: inline-block;
  width: 15%;
  float: right;
  text-align: right;
}

.facebook_go {
  float: right;
}

/*div 제품영양 정보 - footer 음료설명*/

.pd_info_nutrition_footer {
  width: 100%;
}

.pd_taste {
  font-size: 14px;
  padding: 15px 0;
}

.pd_info_nutrition_footer_hr {
  margin-top: 35px;
  border: 0;
  height: 1px;
  background: #bebebe;
}

/*div 제품 더보기 */
.pd_info_more{
  width:100%;
  background-color: #f4f4f2;
}
/*프로모션 새소식 - title*/
.pd_info_title{
  width:1100px; margin:auto;
}
.pd_info_title::after{content:""; display: block; clear:both;}
.pd_info_title .pd_promo{
  padding:20px;
  width:45%; float:left;
  display: inline-block;
  position: relative;
}
.pd_info_title .pd_siren_order{
  width:45%; float:right;
  display: inline-block;
  padding:20px;
}
/*프로모션 새소식 - title 프로모션 새소식*/
.pd_promo .pd_promo_h2{
  font-size: 20px; font-weight: bold;
  padding:15px 0;
}
.pd_promo > p {
  font-size:14px;
  display: inline-block;
}
.pd_promo > a{
  display: inline-block;
  position: absolute;
  top:5; right:0;
}
/*프로모션 새소식 - title 사이렌오더란?*/
.pd_siren_order .pd_siren_order_h2{
  width:60%;
  float:right;
  font-size: 20px; font-weight: bold;
  padding:15px 0;
}
.pd_siren_order img{
  float:left;
  width:34%;
}
.pd_siren_order p{
  width:60%;
  float:right;
  font-size:14px;
  line-height: 20px;
}
/*관련제품*/
.pd_relation{width:1100px; margin:auto;padding-bottom:50px;}
.pd_relation::after{content:""; display: block; clear:both;}
.pd_relation .pd_relation_h2{
  font-size: 20px; font-weight: bold;
  padding:15px 0;
}
.pd_relation .pd_relation_list{
  width:33.3333333333333333333333%;
  float:left;
  margin-left:10px;
}
.pd_relation_list .pd_relation_list_img{width:40%; display: inline-block;}
.pd_relation_list .pd_relation_list_txt{
  width:56%; float:right; display:inline-block;
  font-size:14px;
  line-height: 20px;
}
.pd_list_title{font-size:18px; font-weight: bold; margin-bottom:20px;}
.pd_relation_list .detail_view{float:right; margin-right:30px;}
