a{color:#000;text-decoration: none;}
#product_select_tap{ /**/
  font-family: "나눔고딕";
  width:1100px;
  margin: 0 auto;
}
#product_item{ /**/
  font-family: "나눔고딕";
  width:1120px;
  margin: 0 auto;
}
/*음료 및 미니 네비*/
.product_top{width:100%;height: 100px;}
.product_h2{
  display:inline-block;
  line-height:100px;
  font-size: 30px;
  font-weight: bold;
}
.product_top_ul{
  float:right;
  padding-top:60px;
}
.product_top_ul li{ font-size: 13px; float:left;margin-left:5px;}
.product_top_ul li img{margin-top:-3px;}
.product_top_ul li a{}

/*분류보기*/
.product_hr{
  border: 0;
  height: 1px;
  background: #ccc;
}
.product_category{
  border:1px solid #bebebe;
  border-radius: 5px;
  padding:25px;}
.product_cate_h2{
  font-size: 18px; font-weight: bold;
  display: inline-block;
  height:50px;
  line-height:40px;
}
.product_cate_toggle{
  display: block;
  float:right;
}
/*분류보기- dt카테고리&테마 클릭 탭*/
.product_toggle_wrap{width:100%;}
.product_category_list{
  position: relative; width:100%;
  margin-top:30px;
}
.product_category_list dt{
  position: absolute;
  top:0; left:0;
  margin-right: 10px;
}
.product_category_list dt a{
  width:180px; height:36px;
  display: inline-block;
  font-size:14px; line-height: 36px;
  text-align: center;
  border-radius: 5px;
  background-color: #f4f4f1;
  color:#222;
}
.product_category_list dt a.select{
  background-color:#006633;
  color:white;
}
.product_category_list dt:nth-child(3){
  position: absolute;
  top:0; left:190px;
}

/*분류보기 dt1 카테고리*/
.dt1_category_wrap{padding-top:50px;}
.dt1_category_wrap_ul li{
  float:left;
  font-size:15px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.ez_check{
  display:inline-block;
  width:12px; height:12px;
  background: transparent url(../images/img/product/ck_icon.jpg) 0 0 no-repeat;
  vertical-align: middle; margin-right:5px;
}
.ex_check_on{
  display:inline-block;
  width:12px; height:12px;
  background: transparent url(../images/img/product/ck_icon_on.jpg) 0 0 no-repeat;
  vertical-align: middle; margin-right:5px;
}
input[type="checkbox"]{
  width:12px; height: 12px;
  vertical-align: middle;
  opacity: 0;
}
input[type="checkbox"]:checked{
  width:12px; height: 12px;
  vertical-align: middle;
  opacity: 0;
}
/*분류보기 dt2  테마*/
.dt2_theme_wrap{display: none; padding-top:50px;}

/*보기 옵션 버튼*/
.product_view{width:1100px; margin:auto; margin-top:35px;}
.product_view_tap{display: inline-block; margin-bottom:20px;}
.product_view_tap a {
  width:110px; height:30px;
  display: inline-block;
  font-size: 13px;
  line-height: 30px; text-align: center;
  border:1px solid #ddd;
  border-radius: 3px;
}
.product_view_tap a.select{
  background-color: #666; color:#fff;
}
/*보기 옵션 버튼 - select*/
.product_view_more{float:right;}
.product_view_more select{
  width: 250px; height: 40px;
  border:1px solid #ddd;
  border-radius: 3px;
}
/*----------------------------------------------------------------------*/
/*상품리스트 항목별 제목 ex)콜드브루, 에스프레소, 주스...*/
.product_item{width:1120px; margin:auto;}
.product_item_name{width:1100px; margin:auto; height:60px; background-color:#f4f4f2; border-radius: 3px;}
.product_item_name h2{
  display: block;
    float: left;
    margin-left:20px;
    line-height:60px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
.product_item_name img{
  display: block;
  float: left;
  width: 45px;
  margin:10px 10px 0 15px;
  line-height: 60px;
}
.product_item_name p{
  display: block;
  float: left;
  line-height: 60px;
  margin-left: 5px;
  font-size: 13px;
  color: #444444;
  letter-spacing: -1px;
}

/*상품리스트 항목별 아이템 리스트*/
.product_item>div{width:1120px; margin:auto;}
/*상품리스트 항목별 아이템 리스트 -photo*/
.product_item_coldbrew{display: block;}
.product_item .product_item_list_photo:after {content:""; display:block; clear:both;margin-bottom:40px;}
.product_item .product_item_list_photo li{
  float:left;
  width:260px;
  text-align: center;
  margin:10px;
  overflow:hidden;
}
.product_item .product_item_list_photo li a {
  display: inline-block;
  text-align: center;
  width:100%;
  height:260px;
  overflow:hidden;
}
.product_item .product_item_list_photo li img{
  transition: 0.5s;
  width:100%;
}
.product_item .product_item_list_photo li img:hover{
  transition: 0.5s;
  transform: scale(1.1);
}
.product_item .product_item_list_photo li p{
  font-size:14px;
  margin-top:15px;
}
/*상품리스트 항목별 아이템 리스트 -table*/
.hid{visibility: hidden;}
.product_item_list_nutrition{display: none;}
table.nutirition_table{
  width:1100px;
  margin:15px auto 30px;
  text-align: center;
  font-size: 14px;
}
table.nutirition_table th{
  padding:16px 0;
  font-weight: bold;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}
table.nutirition_table td{
  color:#666;
  padding:16px 0;
  border-bottom:1px solid #bebebe;
}
